body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

iframe {
  position: relative;
  height: 100%;
  width: 100%;
}

textarea {
  resize: none;
  width: 20%;
}

.codeAndiframe {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 100%;
}

.resizer {
  background-color: red;
  cursor: ew-resize;
  height: 100%;
  width: 4px;
}
