body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

iframe {
  width: 40%;
}

textarea {
  resize: none;
  width: 20%;
}

.codeAndiframe {
  display: flex;
  flex-direction: row;
  margin: 0px;
  height: 100%;
}

.resizer {
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 2px;
}
