#horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.lihorizontal {
    float: left;
}
.ahorizontal {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100px;
}
footer {
      position:fixed;
      bottom:0;
      width: 100%;
}
header{
    position:fixed;
      top:0;
      width: 100%;
}